*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    font-family: 'Montserrat', sans-serif; 
    color: white;
    
}
.container{
    padding: 10%;
}
body{
    background-image: url(./images/mfullbg.png);
    background-size: cover;
}

/* -------------Home page-------------- */


.homecontainer{
   background-size: cover;
    overflow: hidden;
    width: 100%;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.logo{
    margin-right: 20px;
}
ul{
    list-style-type: none;
    display: flex; 
    font-size: 12px;
}
li a{
    text-decoration: none;
    margin-right: 20px;
}
.left li a{
    margin: 0 1%;
}

#heading{

font-style: bolder;
font-weight: 900;
font-size: 15px;
line-height: 25px;
word-spacing: 10px;
text-align: center;
color: #FFFFFF;
margin-top: 2%;
position: relative;
}
.mid-section{
    position: relative;
    padding-top: 20px;
}
.apeweb{
    display: none;
}


.ape-home-img  img{
    width: 100%;   
    
}
.into{
    position: relative;
    color: white;
    margin-top: -10%;
    
}
.tag h4{
    font-size: 11px;
}
.tag h1{
    font-size: 24;
    -webkit-text-stroke: .5px white;
    color: transparent;
}
.into-para p{
    font-weight: 5;
    font-size: 15px;
    margin-top: 15px;
}

.homebutton{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;

}
.homebutton{
    margin-top: 10%;
}
.trade{
    
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.trade h2{
    text-align: center;
    letter-spacing: .3rem;
}
fieldset{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    transform: rotate(-5deg);
    border-radius: 25px;
    border: 2px solid #7DABD654;
    background-image: url(/images/tradebg.png);
    background-size: cover;
    

}
legend{
    background-color: #7DABD6;
    letter-spacing: .2rem;
    padding: 2px 25px;
    font-size: 12px;
    text-align: center;
    transform: rotate(5deg);
    border-radius: 25px;
    font-weight: bold;
}
/* gallery */

#gallery{
    
    position: relative;
}
.mainrow{
    margin-top: 10%;
}
.row1,.row2,.row3{
    display: flex;
    margin:10%;
    margin-left: 2%;
}
#image2,#image4,#eth{
    margin-top: 10%;
}
#image3{
    margin-left: 15%;
}
#image5{
    margin-left: 10%;
    
}
#gallery img{
    width: 140px;
    height: 160px;
}

 #eth{
    margin-top: 5%;
 }

 #eth_img {
   display: flex;
   margin-left: 20px;
 }
#eth_img h3{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: #D1D606;
}
#eth p{
    margin-left: 80px;
    font-size: 12px;
}
#eth_img img{
    width: 20px;
    height: 30px;
}
#token{
    margin-top: 20px;
}
#token p{
    margin-left: 50px;
}
#token h3{
    margin-left: 70px;
    color: #D1D606;
}

/* -------------Buy NFT----------*/
a {
    text-decoration: none;
  }
  
  .container {
    padding: 30px;
  }
  #buy_nft {
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .imgwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 129px;
  }
 
  /* arrow section */
  
  .arrowWrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    margin: 2200px 70px 0px;
  }
  
  .tagWrapper {
    text-align: center;
  }
  .tagWrapper .hash_tag h2 {
    color: #d1d606;
    font-weight: 800;
    font-size: 23px;
    line-height: 90.4%;
  }
  .tagWrapper .hash_tag h4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    line-height: 90.4%;
  }
  .tagWrapper .price_tag h3 {
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 20px;
    line-height: 106.4%;
  }
  .tagWrapper .price_tag h2 {
    color: #ffffff;
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 69.9%;
  }
  .tagWrapper .price_tag h2 span {
    font-weight: 300;
    font-size: 13px;
    line-height: 9.09px;
  }
  
  /* button section */
  
  .button_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button_section .cta-btn1 {
    margin-right: 20px;
  }
  .left-logo #head{
    margin-left: 0px;
    font-size: 35px;

  }
  .buylogo{
    margin-left: 20px;
  }
  
  .button_section .cta-btn1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111.85px;
    height: 46.6px;
    border: 1px solid #7dabd6;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 99.9%;
    text-align: center;
    color: #ffffff;
  }
  .button_section .cta-btn2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d1d606;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 110.52px;
    height: 46.6px;
    border: 1px solid #7dabd6;
    border-radius: 12px;
    color: #000000;
  }
/* -------------contact----------*/
#contact{
    height: 100vh;
}
#contact h2{
    margin-top: 90px;
    margin-left: 10%;
    font-size: large;
    
}
#head{
    color: #D1D606;
    margin-left: 60px;
    font-size: x-large;
    

}
#contact h1{
    margin-left: 20%;
    margin-top: -20px;
    color: #D1D606;
}
.f1{
    
    margin-top: 150px;
    
}
.f2{
    
    margin-top: 10px;
}
.bold{
    margin-left: 8%;
}

input[type=text], select {
    width: 80%;
    background-color: #7dabd63a;
    padding: 8px 2px;
    margin: 8px 30px;
    display: inline-block;
    border-radius: 15px;
    border: none;
}

input[type=submit] {
    width: 140px;
    margin-left: 25%;
    margin-top: 20px;
    background-color:#D1D606;
    color: black;
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15%;
    margin-top: 5%;
  }

#insta{
    width: 15px;
}
#discord{
    width: 15px;
    margin: 0 20%;
}
#telegram{
    width: 15px;
}
#social{
    justify-content: space-around;
    margin-left: 25%;
    margin-top: 80px;
}


  

/* responsive 580px  */
@media screen and (min-width:580px){
    .mainrow {
      
        margin-left: 15%;
        margin-top: 2%;
    }
    .row1,.row2,.row3{
        margin-top: 2%;
    }
    li a{
        text-decoration: none;
        margin-right: 20px;
        font-size: 15px;
    }
    .home-apewrap{
        width: 70%;
        margin-left: 15%;
    }
    .bold {
        margin-left: 25%;
    }
    input[type=text], select {
        width: 50%;
        margin: 8px 25%;
      
    }
    input[type=submit] {
        
        margin-left: 35%;
    }
}

/* responsive 900px  */
@media screen and (min-width:900px){
    #heading{
        
        
        font-style: bolder;
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        word-spacing: 20px;
       
        }
     
       
       


#gallery{
    padding-top: 10%;
}

    .container{
    padding: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mainrow {
    margin-top: -15%;
    margin-left: 20%;
}
.row1,.row2,.row3{
    
    margin: 2%;
}
#image3{
    margin-left: 10%;
}

/* contact */
input[type=text], select {
    width: 50%;
}
.f1{
   
    margin-top: 180px;  
}
.f2{
   
    margin-top: 10px;
}
input[type=submit] {
    margin-left: 47%;
    margin-top: 30px;
}
#social{
    justify-content: space-around;
    margin-left: 39%;
    margin-top: 0px;
}
#insta{
    width: 28px;
}
#discord{
    width: 28px;
    margin: 0 15%;
   
}
#telegram{
    width: 28px;
}
.bold{
    margin-left: 2.8%;
}
.contactcontainer{
    margin-left: 37%;
}
input[type=text], select {
    width: 100%;
    margin-left: -10%;
}
.bold {
    margin-left: -10%;
}
}


/* responsive 1200px  */
@media screen and (min-width:900px){
    .container{
        padding: 20%;
        padding-top: 2%;
        padding-bottom: 4%;
    }
    .home-apewrap{
        width: 50%;
        margin-left: 25%;
    }

    .mainrow {
        margin-top: -10%;
    }
    
    li a {

        margin-right: 30px;
        font-size: 20px;
    }
    input[type=text], select {
        width: 80%;
       
    }
   
    .row1,.row2,.row3{
        
        margin: 1%;
    }
    #gallery img{
        width: 160px;
        height: 180px;
    }
    #eth_img img{
        width: 20px;
        height: 30px;
    }
    #image3{
        margin-left: 7%;
    }
    #image2,#image4,#eth{
        margin-left: 5%;
    }
   
}